.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar-links {
    display: flex;
    gap: 1rem;
    a {
      color: white;
      text-decoration: none;
      &.active {
        color: #5fa5fa;
      }
    }
  }
}
